albumentations==1.4.21
basicsr==1.4.2
iglovikov_helper_functions==0.0.53
matplotlib==3.9.2
numpy==1.26.4
omegaconf==2.3.0
open3d==0.18.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Pillow==11.0.0
pysdf==0.1.9
pytorch_msssim==1.0.0
scikit_learn==1.5.2
scipy==1.14.1
skimage==0.24.0
smplx==0.1.28
tensorboard==2.19.0a20241116
tqdm==4.67.0
trimesh==4.5.2
